@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.manicura-section {
  font-family: "https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap", "cursiva";
  font-style: italic;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7cef6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.manicura-section .header, .manicura-section .footer {
  text-align: center;
  background-color: #f7cef6;
  padding: 20px 0;
}
.manicura-section .header h1, .manicura-section .footer h1 {
  margin: 0;
  color: black;
  font-size: 2rem;
}
.manicura-section .footer {
  background-color: rgb(245, 62, 245);
}
.manicura-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}
.manicura-section .card {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  max-width: 400px;
  width: 100%;
}
.manicura-section .card img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-bottom: 2px solid #eaeaea;
  border-radius: 15px 15px 0 0;
}
.manicura-section .card .button {
  font-size: 16px;
  font-weight: bold;
  color: #a000c7;
  padding: 15px;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
}
.manicura-section .card-link {
  text-decoration: none;
  color: inherit;
}
.manicura-section .card-link:hover h3 {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .manicura-section .header, .manicura-section .footer {
    padding: 10px 0;
  }
  .manicura-section .container {
    flex-direction: column;
    align-items: center;
  }
  .manicura-section .card {
    max-width: 90%;
    margin-bottom: 20px;
  }
  .manicura-section h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .manicura-section .header, .manicura-section .footer {
    padding: 15px 0;
  }
  .manicura-section .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .manicura-section .card {
    max-width: 45%;
    margin-bottom: 20px;
  }
  .manicura-section h1 {
    font-size: 1.8rem;
  }
}
@media (min-width: 769px) {
  .manicura-section .container {
    flex-direction: row;
    justify-content: space-around;
  }
  .manicura-section .card {
    max-width: 30%;
  }
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.contact-card {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  flex: 1 1 calc(40% - 20px);
  max-width: 250px;
}
.contact-card img {
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: cover;
  border-bottom: 2px solid #eaeaea;
  border-radius: 15px 15px 0 0;
}
.contact-card .header {
  padding: 15px;
  background-color: rgb(245, 62, 245);
  font-weight: bold;
  font-size: 16px;
}
.contact-card .content {
  margin-top: 15px;
  font-size: 16px;
}

.footer {
  background-color: rgb(245, 62, 245);
  text-align: center;
  padding: 1.5rem;
}

.map-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.turnos-section {
  width: 90%;
  height: 90%;
  max-width: 1200px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.turnos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin-left: 80px;
}

.turno-card {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.turno-card__header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #555;
  font-family: "https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap", "cursiva";
  font-style: italic;
  padding: 20px 0;
  background-color: rgb(245, 62, 245);
}

.turno-card img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.turno-card img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .turnos-section {
    padding: 10px;
  }
  .turnos-container {
    margin-left: 0;
    justify-content: center;
  }
  .turno-card {
    width: 100%;
    margin-bottom: 20px;
  }
  .turno-card img {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .turnos-section {
    width: 100%;
    padding: 5px;
  }
  .turnos-container {
    gap: 15px;
  }
  .turno-card {
    width: 100%;
    margin-bottom: 10px;
  }
}
.reviews-section {
  width: 90%;
  height: 90%;
  max-width: 1200px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.reviews-section .header {
  font-family: "https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap", "cursiva";
  font-style: italic;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.reviews-section .reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  width: 100%;
}
.reviews-section .review-card {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.reviews-section .review-card:hover {
  transform: scale(1.05);
}
.reviews-section .review-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #8a2be2;
  margin-bottom: 10px;
}
.reviews-section .review-card p {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
  line-height: 1.4;
}
.reviews-section .review-card .stars {
  font-size: 16px;
  color: #f1c40f;
  margin-top: 10px;
}
.reviews-section .footer {
  font-family: "https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap", "cursiva";
  font-style: italic;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
@media (max-width: 480px) {
  .reviews-section .header {
    font-size: 1.5rem;
    padding: 15px 0;
  }
  .reviews-section .reviews-container {
    grid-template-columns: 1fr;
  }
  .reviews-section .review-card {
    max-width: 90%;
    margin-bottom: 20px;
  }
  .reviews-section .footer {
    font-size: 1.5rem;
    padding: 15px 0;
  }
}
@media (max-width: 768px) {
  .reviews-section .header {
    font-size: 1.8rem;
    padding: 15px 0;
  }
  .reviews-section .reviews-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .reviews-section .review-card {
    max-width: 45%;
    margin-bottom: 20px;
  }
  .reviews-section .footer {
    font-size: 1.8rem;
    padding: 15px 0;
  }
}
@media (min-width: 769px) {
  .reviews-section .reviews-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .reviews-section .review-card {
    max-width: 30%;
  }
  .reviews-section .footer {
    font-size: 20px;
    padding: 20px 0;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7cef6;
  font-weight: bold;
}

.header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #555;
  font-family: "https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap", "cursiva";
  font-style: italic;
  padding: 20px 0;
  font-weight: bold;
}

.image-section {
  background-color: #f7cef6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5px;
}

.image-section img {
  width: 100%;
  height: auto;
  max-width: 1200px;
  object-fit: cover;
  border-radius: 15px;
  transition: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7cef6;
}

.menu-item {
  width: 22%;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  text-align: center;
}

.menu-item img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.menu-item img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.menu-item h3 {
  margin: 10px 0;
  font-size: 14px;
  color: #8a2be2;
}

footer {
  background-color: rgb(245, 62, 245);
}

.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler-icon {
  background-color: #8a2be2;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-nav {
  text-align: center;
}

@media (max-width: 768px) {
  .menu {
    justify-content: space-around;
  }
  .menu-item {
    width: 45%;
    margin-bottom: 20px;
  }
  .navbar-nav {
    text-align: center;
    width: 100%;
  }
  .navbar-nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  /* Prevent horizontal scrolling on small screens */
  body {
    overflow-x: hidden;
  }
}
header, footer {
  font-family: "https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap", "cursiva";
}

/*# sourceMappingURL=style.css.map */
