@use 'variables';
@use 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.reviews-section {
  width: 90%;
  height: 90%;
  max-width: 1200px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .header {
    font-family: variables.$font-family-primary;
    font-style: italic;
    text-align: center;
    padding: 20px 0;
    font-size: variables.$font-size-heading;
    font-weight: bold;
    color: black;
  }

  .reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    width: 100%;
  }

  .review-card {
    @include mixins.card-style;
    @include mixins.card-hover;

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      color: variables.$accent-color;
      margin-bottom: 10px;
    }

    p {
      font-size: variables.$font-size-body;
      color: variables.$text-color;
      margin: 10px 0;
      line-height: 1.4;
    }

    .stars {
      font-size: variables.$font-size-stars;
      color: variables.$secondary-color;
      margin-top: 10px;
    }
  }

  .footer {
    font-family: variables.$font-family-primary;
    font-style: italic;
    text-align: center;
    padding: 20px 0;
    font-size: variables.$font-size-heading;
    font-weight: bold;
    color: black;
  }

  @media (max-width: 480px) {
    .header {
      font-size: 1.5rem;
      padding: 15px 0;
    }

    .reviews-container {
      grid-template-columns: 1fr;
    }

    .review-card {
      max-width: 95%;
      margin-bottom: 20px;
    }

    .footer {
      font-size: 1.5rem;
      padding: 15px 0;
    }
  }

  @media (max-width: 768px) {
    .header {
      font-size: 1.8rem;
      padding: 15px 0;
    }

    .reviews-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .review-card {
      max-width: 48%;
      margin-bottom: 20px;
    }

    .footer {
      font-size: 1.8rem;
      padding: 15px 0;
    }
  }

  @media (min-width: 769px) {
    .reviews-container {
      grid-template-columns: repeat(3, 1fr);
    }

    .review-card {
      max-width: 30%;
    }

    .footer {
      font-size: variables.$font-size-heading;
      padding: 20px 0;
    }
  }
}
