@use 'variables';
@use 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.reviews-section {
  width: 90%;
  height: 90%;
  max-width: 1200px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .header {
    font-family: variables.$font-family-primary;
    font-style: italic;
    text-align: center;
    padding: 20px 0;
    font-size: variables.$font-size-heading;
    font-weight: bold;
    color: black;
  }

  .reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center; // Centra las tarjetas en cada columna
    width: 100%; // Asegura que las tarjetas ocupen el ancho completo
  }

  .review-card {
    @include mixins.card-style;
    @include mixins.card-hover;

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      color: variables.$accent-color;
      margin-bottom: 10px;
    }

    p {
      font-size: variables.$font-size-body;
      color: variables.$text-color;
      margin: 10px 0;
      line-height: 1.4;
    }

    .stars {
      font-size: variables.$font-size-stars;
      color: variables.$secondary-color;
      margin-top: 10px;
    }
  }

  .footer {
    font-family: variables.$font-family-primary;
    font-style: italic;
    text-align: center;
    padding: 20px 0;
    font-size: variables.$font-size-heading;
    font-weight: bold;
    color: black;
  }

  // Media Queries para hacer el diseño responsive

  // Dispositivos móviles (pantallas de 320px a 480px)
  @media (max-width: 480px) {
    .header {
      font-size: 1.5rem; // Ajustar tamaño de fuente en móvil
      padding: 15px 0;
    }

    .reviews-container {
      grid-template-columns: 1fr; // Las tarjetas se apilan en una sola columna
    }

    .review-card {
      max-width: 90%; // Limitar el tamaño de las tarjetas
      margin-bottom: 20px;
    }

    .footer {
      font-size: 1.5rem; // Ajustar tamaño de fuente en móvil
      padding: 15px 0;
    }
  }

  // Dispositivos tablet (pantallas de 481px a 768px)
  @media (max-width: 768px) {
    .header {
      font-size: 1.8rem; // Ajustar tamaño de fuente en tablet
      padding: 15px 0;
    }

    .reviews-container {
      grid-template-columns: repeat(2, 1fr); // 2 columnas para tablets
    }

    .review-card {
      max-width: 45%; // Limitar el tamaño de las tarjetas
      margin-bottom: 20px;
    }

    .footer {
      font-size: 1.8rem; // Ajustar tamaño de fuente en tablet
      padding: 15px 0;
    }
  }

  // Dispositivos de escritorio (pantallas mayores a 768px)
  @media (min-width: 769px) {
    .reviews-container {
      grid-template-columns: repeat(3, 1fr); // 3 columnas para pantallas grandes
    }

    .review-card {
      max-width: 30%; // Limitar el tamaño de las tarjetas
    }

    .footer {
      font-size: variables.$font-size-heading;
      padding: 20px 0;
    }
  }
}

