// Colores
$primary-bg-color: #f7cef6;
$secondary-bg-color: rgb(245, 62, 245);
$card-bg-color: #fdfdfd;
$button-color: #a000c7;
$border-color: #eaeaea;
$font-color: black;
$secondary-color: #f1c40f; // Color de las estrellas
$text-color: #555;
$accent-color: #8a2be2; // Color del nombre del autor
$hover-color: #6a0dad; // Link hover color
$background-bg-color:#f7cef6;



// Tipografía
$font-family-primary: "https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap", 'cursiva';
$font-family-secondary: Arial, sans-serif;
$font-style-italic: italic;
$font-size-header: 2rem; // Tamaño de fuente por defecto
$font-size-header-mobile: 1.5rem; // Tamaño de fuente para móviles
$font-size-header-tablet: 1.8rem; // Tamaño de fuente para tablets
$font-size-button: 16px;
$font-weight-bold: bold;
$font-size-heading: 20px;
$font-size-body: 14px;
$font-size-stars: 16px;
$font-size-menu: 14px;

// Bordes y sombras
$border-radius: 15px;
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$card-hover-scale: 1.05;
$button-padding: 15px;
$gap-between-cards: 20px;
$card-padding: 15px; 




